body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
  background-image: url("wall.jpeg");
}

h1{
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.game-board{
    width: 320px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.card{
    width: 70px;
    height: 70px;
    background: rgb(240, 204, 113);
    border-radius: 10px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.card.flipped{
    background-color: #e0f7fa;
}
